<% if @badanie_lekarskie.errors.any? %>
  <div id="bledy">
    <div class="alert alert-danger">
      Formularz zawiera <%= @badanie_lekarskie.errors.count %> "bledow".
    </div>
    <ul>
    <% @badanie_lekarskie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>