<% provide(:title, 'Zarejestruj wizytę ') %>

<div class="container">
<h1>
	Zarejestruj wizyte u lekarza
		<% @specjalizacje.each do |specjalizacja| %>
			<div class="well"><%= specjalizacja.nazwa_specjalizacji %></div>
		<% end %>
</h1>
</div>
