<% provide(:title, 'Zarejestruj wizytę ') %>

<div class="container">
<h1>
	Zarejestruj wizyte u lekarza

		<% @specjalizacje.each do |specjalizacja| %>
			
			<%= form_for(specjalizacja, url: {action: "create"},  remote: true) do |f| %>	
				<div><%= hidden_field_tag :specjalizacja_id, specjalizacja.id %></div>
				<%= f.submit specjalizacja.nazwa_specjalizacji, class: "  btn btn-default  btn-block ", action: "/zarejestruj_wizyte" %>
			<% end %>

		<% end %>
</h1>
</div>
