<% provide(:title, 'Zarejestruj wizytę ') %>

<div class="container">
<h1>
	Zarejestruj wizyte u lekarza

<% @specjalizacje.each do |specjalizacja| %>
	<%= form_tag( {:controller => "zarejestruj_wizyte", :action => "create", :method => "post"} , { :remote => true } ) do %>
  	<div><%= hidden_field_tag :specjalizacja_id, specjalizacja.id %></div>
  		<%= submit_tag(specjalizacja.nazwa_specjalizacji, class: " btn btn-default  btn-block" ) %>
	<% end %>
<% end %>


</h1>
</div>
