<h1>O nas</h1>
<h2>Asklepios</h2>
<p>Asklepios jest aplikacją stworzoną do testowanie Ruby on Rails</p>
<p>Symuluje system do zarządzania wizytami pacjentów w przychodni (wybór lekarza i specjalności)</p>

<p><small>Asklepios nazwa pochodzi od greckiego boga medycyny</small></p>