<div class="alert alert-warning">
  <strong> Wybierz specjalizacje "Chirurg" </br>
  	Wybierz Lekarza Zbigniew Religa </br>
  	Wybierz następny tydzien i dzień w ktorym chcesz się zapisać na wizyty </br>
  	Wybierz godzine wizyty

  </strong> 
</div>
