<div class="alert alert-warning">
  Aby rozpoczac testową wizytę </br>Wybierz na górnym pasku link: </br> 
   <strong> Zaloguj się jako Lekarz
  </strong> 
</div>

<div class="alert alert-info">
  Portal stworzony z użyciem Ruby on Rails, z silnym udziałem javascript (obsługa kalendarza do zapisywania się na wizytę)
</div>