<div class="alert alert-warning">
  <strong> Wybierz nastepny tydzien </br>
  	Wybierz dni w których lekarz będzie dostepny dla pacjentów </br>
  	Nastepnie wyloguj sie i zaloguj sie jako "Pacjent"

  </strong> 
</div>
