<div class="alert alert-warning">
  <strong> Wybierz specjalizacje "Chirurg" </br>
  	Wybierz Lekarza Zbigniew Religa </br>
  	Wybierz tydzien w ktorym chcesz sie zapisac na wizyty </br>
  	Wybierz godzine wizyty

  </strong> 
</div>
