<footer class="stopka">
<div >
	<hr><br>
	Testowa portalu lekarskiego stworzona przez Pawla Szymańskiego <br>
	 w celu testowania Ruby on Rails
	 <li><%= link_to "O Nas",   '/o_nas' %></li>
</div>
</footer>
